<section class="sec">
    <aside class="aside" [ngClass]="service.isOpen == true ? 'is-open' : ''">
        <div class="aside-head btn-RRHH">
            <img class="head-img" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
            <h3>RRHH</h3>
        </div>
        <div class="aside-options">
            <div class="aside-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>Base Legal</h3>
            </div>
            <div class="aside-opt btn-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>Ordenes</h3>
            </div>
            <div class="aside-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>Quedan</h3>
            </div>
            <div class="aside-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>C.X Pagan</h3>
            </div>
            <div class="aside-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>Anticipos</h3>
            </div>
            <div class="aside-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>Estados de Cuenta</h3>
            </div>
            <div class="aside-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>Compras Locales</h3>
            </div>
            <div class="aside-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>Importaciones Internacionales</h3>
            </div>
            <div class="aside-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>Informes de Compras</h3>
            </div>
            <div class="aside-opt">
                <img class="head-img img-option" src="../../../assets/iconos/Logo-RRHH.png" alt="Finanzas">
                <h3>Registro F. Sujeto Excluido</h3>
            </div>
        </div>
    </aside>
    <div class="contenedor">
        <nav class="" [ngClass]="service.isOpen == true ? 'is-open' : ''"> <!--displayNo-->
            <a href="/resultados/finanzas" class="btn-main btn-finanza">FINANZAS</a>
            <a href="/resultados/contabilidad" class="btn-main btn-contabilida">CONTABILIDAD</a>
            <a href="/resultados/rrhh" class="btn-main btn-RRHH btn-activo">RRHH Y CLIENTES</a>
        </nav>
        <main>
            <div class="main-head">
                <h3>Módulo: Ordenens de Compra</h3>
            </div>
        </main>
    </div>
</section>
