.sec {
    /* background: #6d1a6d; */

    width: 100%;
    /* height: 80vh; */
    display: flex;
    gap: 10px;
}

/* ------------------ASIDE -------------------- */
.aside {
    flex: 20%;
    background-color: #DDDDDD;
    border-radius: 10px;
    border: 4px solid #ABABDB;
    /* padding: 10px; */
}

.aside-head {
    width: auto;
    padding: 10px;
    margin: 10px;
    border: 2px solid #7F7F7F;
    border-radius: 10px;
    color: gray;
    display: flex;
    gap: 15px;
    /* align-items: center; */
}

.head-img {
    width: 33%;
}

.aside-head h3 {
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

.aside-options {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* padding-top: 10px; */
}

.aside-opt {
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    gap: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-opt {
    background: #ABABDB;
}
.img-option{
    background: #fff;
    padding: 5px;
    width: 33%;
    /* height: 100%; */
    border-radius: 5px;
}

.aside-opt h3 {
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
}

/* ---------------CONTENEDOR------------------------- */
.contenedor {
    flex: 70%;
}

/* ---------------NAVEGACION----------------------- */
nav {
    grid-area: nav;
    /* background-color: blue; */
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

nav .btn-main {
    /* background: #ce72ce; */
    width: 100%;
    color: black;
    text-align: center;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-contabilida {
    background-color: #EDC664;
}
.btn-finanza {
    background-color: #84D19C;
}
.btn-RRHH {
    background-color: #ABABDB;
}
.btn-activo {
    background-color: #727272;
}

/* :host */
.is-open {
    display: none;
}


/* ------------MAIN------------- */
main {
    width: 100%;
    height: 850px;
    padding: 10px;
    border-radius: 10px;
    background-color: #88E2BF;
}



.main-head h3 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}